<div class="motion-slider">
  <swiper [config]="config">
    <ng-template swiperSlide>
      <div class="slide">
        <video 
          (mouseenter)="play($event)" (mouseleave)="stop($event)"
          muted="muted" poster="/assets/motion_slider_nike.png"
        >
          <source src="/assets/videos/test_video.mp4">
        </video>
        <h2>NIKE</h2>
        <h3>Tuned Air Max Plus 3</h3>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide">
        <video
          (mouseenter)="play($event)" (mouseleave)="stop($event)"
          muted="muted" poster="/assets/motion_slider_banck.png"
        >
          <source src="/assets/videos/test_video.mp4">
        </video>
        <h2>BANCK</h2>
        <h3>Subtitle</h3>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide">
        <video
          (mouseenter)="play($event)" (mouseleave)="stop($event)"
          muted="muted" poster="/assets/motion_slider_blindplecken.png"
        >
          <source src="/assets/videos/test_video.mp4">
        </video>
        <h2>BLINDPLECKEN</h2>
        <h3>Legend Number 96</h3>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide">
        <video 
          (mouseenter)="play($event)" (mouseleave)="stop($event)"
          muted="muted" poster="/assets/motion_slider_nike.png"
        >
          <source src="/assets/videos/test_video.mp4">
        </video>
        <h2>NIKE</h2>
        <h3>Tuned Air Max Plus 3</h3>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide">
        <video
          (mouseenter)="play($event)" (mouseleave)="stop($event)"
          muted="muted" poster="/assets/motion_slider_banck.png"
        >
          <source src="/assets/videos/test_video.mp4">
        </video>
        <h2>BANCK</h2>
        <h3>Subtitle</h3>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide">
        <video
          (mouseenter)="play($event)" (mouseleave)="stop($event)"
          muted="muted" poster="/assets/motion_slider_blindplecken.png"
        >
          <source src="/assets/videos/test_video.mp4">
        </video>
        <h2>BLINDPLECKEN</h2>
        <h3>Legend Number 96</h3>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide">
        <video 
          (mouseenter)="play($event)" (mouseleave)="stop($event)"
          muted="muted" poster="/assets/motion_slider_nike.png"
        >
          <source src="/assets/videos/test_video.mp4">
        </video>
        <h2>NIKE</h2>
        <h3>Tuned Air Max Plus 3</h3>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide">
        <video
          (mouseenter)="play($event)" (mouseleave)="stop($event)"
          muted="muted" poster="/assets/motion_slider_banck.png"
        >
          <source src="/assets/videos/test_video.mp4">
        </video>
        <h2>BANCK</h2>
        <h3>Subtitle</h3>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="slide">
        <video
          (mouseenter)="play($event)" (mouseleave)="stop($event)"
          muted="muted" poster="/assets/motion_slider_blindplecken.png"
        >
          <source src="/assets/videos/test_video.mp4">
        </video>
        <h2>BLINDPLECKEN</h2>
        <h3>Legend Number 96</h3>
      </div>
    </ng-template>
  
  </swiper> 
    <div class="swiper-scrollbar"></div>
</div>
