<header>
  <nav>
    <div class="logo">
      <a href="/">
        <img src="/assets/logo.svg" alt="Woitca">
      </a>
    </div>
    <ul>
      <li>
        <a [routerLink]="['/creative']" [routerLinkActive]="'active-creative'">Creative</a>
      </li>
      <li>
        <a [routerLink]="['/motion']" [routerLinkActive]="'active-motion'">Motion</a>
      </li>
    </ul>
  </nav>
</header>
<main [@routeAnimations]="getRouteAnimationData()">
  <router-outlet></router-outlet>
</main>
<footer>
  <div class="container">
    <div class="signature">
      <a href="/">
        <img src="/assets/signature.svg" alt="Woitca">
      </a>
    </div>
    <div class="social">
      <a href="https://www.instagram.com/" target="_blank">Instagram</a>
      <a href="https://www.behance.net/" target="_blank">Behance</a>
      <a href="https://www.facebook.com/" target="_blank">Meta</a>
    </div>
  </div>
</footer>
<app-cursor></app-cursor>