@import 'styles/reset';
@import 'styles/fonts';
@import 'styles/variables';
@import 'styles/cursor';

@import 'swiper/scss';
@import 'swiper/css/parallax';
@import 'swiper/css/mousewheel';
@import 'swiper/css/scrollbar';

html {
  font-family: $fontFamily;
  background-color: $backgroundColor;
  color: #FFF;
  cursor: none;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  overscroll-behavior: contain;    
}

a {
  cursor: none;
}

body {
  &.creative {
    ::selection {
      background: $colorCreative;
      color: white;
    }
  } 
  &.motion {
    ::selection {
      background: $colorMotion;
      color: white;
    }
  } 
}


header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  nav {
    height: 180px;
    display: flex;
    align-items: center;
    max-width: $maxContentWidth;
    margin: auto;

    .logo {
      img {
        margin-top: -9px;
        width: 150px;
        height: 35px;
        display: block;      
      }
    }

    ul {
      display: inline-flex;
      margin: 0 50px;

      li {
        position: relative;
        padding: 0 20px;

        &::after {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
          height: 100%;
          width: 1px;
          background-color: rgba(255, 255, 255, 0.3);
        }

        &:last-child {
          &::after {
            display: none;
          }
        }

        a {
          position: relative;
          padding: 10px;
          font-size: 13px;
          font-weight: 600;
          color: #FFF;
          transition: color 300ms linear;

          &.active-creative {
            color: $colorCreative;
          }

          &.active-motion {
            color: $colorMotion;
          }
        }
      }
    }
  }
}

main {
  .container {
    max-width: $maxContentWidth;
    margin: auto;
  }

  .creative-slider {
    width: 100%; 
    height: 100vh; 

    .slide {
      display: flex;
      align-items: center; 
      width: 100%; 
      height: 100vh;
      z-index: 5;

      .slide-number {
        font-size: 80px; 
        font-weight: 600;
        z-index: 5;
      }

      .slide-content {
        margin-left: 180px;
        z-index: 5;

        span {
          font-size: 13px;
          font-weight: 600;
          text-transform: uppercase;
        }

        h2 {
          margin: 30px 0;
          font-size: 80px;
          font-weight: 800;
        }

        a {
          display: inline-flex;
          align-items: center;
          font-size: 13px;
          color: #FFF;

          .circle {
            position: relative;
            display: block;
            height: 50px;
            width: 50px;
            margin-right: 20px;
            background-color: transparent;
            border: $colorCreative 2px solid;
            border-radius: 50%;
            transition: all .3s ease-in-out;
        
            .plus {
              position: absolute;
              top: 50%;
              left: 50%;
        
              &::before {
                content: '';
                position: absolute;
                top: -4px;
                left: -1px;
                height: 8px;
                width: 2px;
                background-color: #FFF;
                transition: all .3s ease-in-out;
              }
              &::after {
                content: '';
                position: absolute;
                top: -1px;
                left: -4px;
                height: 2px;
                width: 8px;
                background-color: #FFF;
                transition: all .3s ease-in-out;
              }
            }
          }

          &:hover {
            .circle {
              background-color: $colorCreative;

              .plus::before, .plus::after { 
                background-color: #000; 
              }
            }
          }
        }
      }
    }
  }

  .motion-slider {
    width: 100%; 
    height: 100vh; 
    display: flex;
    align-items: center;
    
    .slide {
      &:hover {
        h2 {
          color: $colorMotion;
        }
      }

      video {
        width: 100%;
        height: 400px;
        object-fit: cover;
        object-position: center;
      }

      h2 {
        padding: 20px 20px 5px;
        font-size: 20px;
        font-weight: 600;
        color: #FFF;
        transition: color .3s ease-in-out;
      }

      h3 {
        padding: 0px 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #555;
        transition: color .3s ease-in-out;
      }
    }
  }
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;

  .container {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: $maxContentWidth;
    margin: auto;
  }

  .signature {
    img {
      width: 300px;
      height: 28px;
      display: block;      
    }
  }

  .social {
    a {
      display: inline-block;
      margin-left: 30px;
      font-size: 13px;
      color: #FFF;
    }
  }

}

.swiper-slide {
  overflow: hidden;
}
.swiper-shutters-image, .swiper-shutters-image-clones, .swiper-shutters-image-clone {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.swiper-shutters-image-clone {
  overflow: hidden;
}
.swiper-shutters-image {
  object-fit: cover;
  object-position: center;
  max-width: none;
}